﻿@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|PT++Mono);

:root {
    --primary-color: #f08080;
    --secundary-color: #696969;
    --tertiary-color: #dcdcdc;
}

body {
    background-color: var(--primary-color);
    font-size: 15px;
    font-family: Lato, sans-serif;
}

#container {
    height: 525px;
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    /*box-shadow: 5px 5px 5px var(--tertiary-color);*/
    border-radius: 20px;
}

h1 {
    background: var(--tertiary-color);
    color: var(--secundary-color);
    padding: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

#tipsForm {
    padding-left: 20px;
    padding-right: 20px;
}

#btnSubmit {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background: var(--primary-color);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
}

#lblSelectedDays {
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}